@keyframes float{
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 45px 15px 0px rgba(0,0,0,0.2);
    transform: translateY(-40px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
  }
}

#ProfilePicture{
	width: 250px;
	height: 250px;
  margin-bottom: 1cm;
  margin-top: 1cm;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  animation: float 6s ease-in-out infinite;
}

header {
  justify-content: center;
  text-align: center;
}

#heading{
  font-family: sans-serif;
  padding: 1rem;
  font-size: 110%;
  background-color: #343330;
}

h1{
  color: white;
}

p1{
  color: white;
}

#section{
  font: white;
  width: 20%;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #45462a;
}

#article{
  width: 80%;
  padding: 1rem;
  margin: 1rem;
}

.button{
  color: #343330;
}

.btn-group{
  background-color: teal;
}

.carousel-inner img{
  width: fit-content;
  width: 20cm;
  margin: auto;
  margin-top: 3rem;
  display: block;
}

body{
  font-family: sans-serif;
  font-size:110%;
  background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1296&q=60);
}

h2 {
  font: bold; 
  margin-bottom: 3px;
  size: 24px;
  color: black;
}

p{
  opacity: 80%;
}

h3 {
  color: black;
  opacity: 90%;
}

h4 {
  color: white
}


.icons{
  align-content: stretch;
  align-items: baseline;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

footer {
  padding: 1rem;
  justify-content: center;
  background-color: #343330;
  background-size: 5in;
  color: white;
  text-align: center;
  font-size: x-large;
}
